In [15]:
import pandas as pd 

tabela = pd.read_csv("cancelamentos_sample.csv")

#tabela = tabela.drop(columns="CustomerID", "sexo" ,"idade",)
nan = ["CustomerID", "sexo" ,"idade" , "tempo_como_cliente",	"frequencia_uso"	,"ligacoes_callcenter"	,"dias_atraso",	"assinatura",	"duracao_contrato" ,"meses_ultima_interacao","cancelou"]
tabela_modificada = tabela.drop(nan, axis=1)

# Exibindo o DataFrame modificado
display(tabela_modificada .sum())
display(tabela)

total_gasto    31587880.62
dtype: float64

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,349936.0,23.0,Male,13.0,22.0,2.0,1.0,Standard,Annual,909.58,23.0,0.0
1,100634.0,49.0,Male,55.0,16.0,3.0,6.0,Premium,Monthly,207.00,29.0,1.0
2,301263.0,30.0,Male,7.0,1.0,0.0,8.0,Basic,Annual,768.78,7.0,0.0
3,119358.0,26.0,Male,40.0,5.0,3.0,8.0,Premium,Annual,398.00,12.0,1.0
4,130955.0,27.0,Female,17.0,30.0,5.0,6.0,Basic,Annual,507.00,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,195680.0,62.0,Female,35.0,7.0,2.0,8.0,Basic,Annual,232.00,15.0,1.0
49996,43477.0,36.0,Male,43.0,21.0,2.0,30.0,Basic,Quarterly,928.00,30.0,1.0
49997,169273.0,55.0,Male,42.0,8.0,1.0,12.0,Basic,Monthly,326.00,27.0,1.0
49998,310693.0,40.0,Female,14.0,19.0,1.0,17.0,Premium,Quarterly,826.76,12.0,0.0
49999,251915.0,64.0,Male,41.0,29.0,5.0,9.0,Basic,Quarterly,700.38,18.0,1.0

In [10]:
import pandas as pd

# Carregando o DataFrame
tabela = pd.read_csv("cancelamentos_sample.csv")

# Selecionando linhas e colunas desejadas
#tabela_selecionada = tabela[(tabela['total_gasto'] > 100)][['sexo', 'idade', 'tempo_como_cliente']]
tabela_selecionada = tabela[(tabela['total_gasto'] > 100)][['total_gasto']]

# Exibindo o DataFrame selecionado
#display(tabela_selecionada)#
display(tabela['total_gasto'].value_counts(normalize=True))
display(tabela.groupby("total_gasto").mean(numeric_only=True))

total_gasto
918.00    0.00088
331.00    0.00086
410.00    0.00082
307.00    0.00080
660.00    0.00078
           ...
906.25    0.00002
744.28    0.00002
997.26    0.00002
851.08    0.00002
700.38    0.00002
Name: proportion, Length: 22488, dtype: float64

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,meses_ultima_interacao,cancelou
total_gasto,,,,,,,,
100.00,115631.538462,42.692308,31.615385,16.230769,5.230769,13.153846,16.153846,1.00
100.25,238068.000000,44.000000,14.000000,9.000000,1.000000,14.000000,5.000000,1.00
100.26,214843.000000,48.000000,18.000000,4.000000,4.000000,19.000000,26.000000,1.00
100.59,243186.000000,36.500000,32.000000,10.500000,4.000000,13.500000,17.000000,1.00
100.75,210477.000000,38.000000,1.000000,8.000000,4.000000,9.000000,17.000000,1.00
...,...,...,...,...,...,...,...,...
999.88,323018.500000,37.500000,28.000000,22.000000,1.500000,8.000000,8.500000,0.00
999.95,400448.000000,26.000000,56.000000,13.000000,1.000000,7.000000,22.000000,0.00
999.96,426002.000000,37.000000,7.000000,19.000000,3.000000,4.000000,3.000000,0.00
999.97,365148.000000,22.000000,55.000000,30.000000,0.000000,1.000000,6.000000,0.00
1000.00,99007.250000,45.625000,24.500000,17.375000,3.750000,15.000000,11.875000,0.75